//$pink: #FC39C5;
//$green: #21CAA3;
//$yellow: #E9CB31;
//
//$midgray: #383838;
//$darkgray: #242424;

//@import "variables";
//@import "reset";
//@import "main";
//@import "layout";
//@import "burger";

@import "../bower_components/breakpoint-sass/stylesheets/breakpoint.scss";
@import "../bower_components/susy/sass/susy.scss";

// Breakpoints
$bp--smallest:            290px;
$bp--smaller:             560px;
$bp--small:               768px;
$bp--medium:              1024px;
$bp--large:               1280px;
$bp--larger:              1440px;
$bp--huge:                1680px;

// Susy grid setup
$susy : (
  columns: 18,
  output: float,
  gutters: 1/2,
  gutter-position: split,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right
  ),
  container: 980px,
);

@import "defaults/normalize.scss";
@import "defaults/mixins.scss";
@import "defaults/fonts.scss";
@import "defaults/base.scss";
@import "defaults/typography.scss";

@import "architecture/header.scss";
@import "architecture/navigation.scss";
@import "architecture/content.scss";
@import "architecture/footer.scss";
