<header class="site-header">
  <div class="site-header__col">
    <div class="wrap">
      <a class="site-title tm-logo" href="/">Thomas Maximini</a>
    </div>
  </div>
  <div class="site-header__col">
    <div class="wrap">
    <nav class="site-nav">
      <button class="lines-button x menu-icon" type="button" role="button" aria-label="Toggle Navigation">
        <span class="lines"></span>
      </button>
      <a class="inner-page-link" href="/">Home</a>
      <a class="inner-page-link" href="/articles">Articles</a>
      <a class="inner-page-link" href="/about/">About</a>
    </nav>
    </div>
  </div>
</header>