

*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}


body {
  background: white;
  color: black;
}

img {
  width: auto;
  max-width: 100%;
  margin: 1rem auto;
  height: auto;
  display: block;
}


a {
  color: blue;
}