@font-face {
    font-family: 'lilgroteskbold';
    src: url('../fonts/lilgrotesk_bold.eot');
    src: url('../fonts/lilgrotesk_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lilgrotesk_bold.woff') format('woff'),
         url('../fonts/lilgrotesk_bold.ttf') format('truetype'),
         url('../fonts/lilgrotesk_bold.svg#lilgroteskbold') format('svg');
}

@font-face {
    font-family: 'lilgroteskregular';
    src: url('../fonts/lilgrotesk_regular.eot');
    src: url('../fonts/lilgrotesk_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lilgrotesk_regular.woff') format('woff'),
         url('../fonts/lilgrotesk_regular.ttf') format('truetype'),
         url('../fonts/lilgrotesk_regular.svg#lilgroteskregular') format('svg');
}
